@font-face {
    font-family:"Biryani";
    src: url("Biryani-Regular.otf");
}

@font-face {
    font-family: "Raleway";
    src: url("Raleway-Black.ttf")
}

* {
    box-sizing: border-box;
    font-family: "Biryani", "DejaVu Serif","Times New Roman", sans-serif;
}

/* body */

body {
    margin: 0;
    background-color: rgb(75, 75, 75);
}

body>div {
    position: absolute;
    left: 140px;
    top: 60px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transform: skewY(-4deg);
}

body>div>div {
    display: inline-block;
    vertical-align: middle;
    margin: -10px 0;
}

#span2lignes {
    line-height: 2px;
}

body>div>div>span {
    vertical-align: 15px;
}

#screen {
    height: 350px;
    width: 420px;
    position: absolute;
    left: 3%;
    top: 11px;
    z-index: 1;
    transform: skewY(-4deg);
}

/* header */

header {
    text-align: center;
    padding: 40px;
    background-color: firebrick;
    height: 405px;
    transform: skewY(-4deg);
    border-top: 150px solid firebrick;
    margin-top: -80px;
}

.icone {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
}

header>h1 {
    padding: 20px 20px 0 20px;
    margin-top: -100px;
    font-size: 3.6em;
    color: #f4eed7;
    font-family: 'Bebas Neue', cursive;
}

header>h2 {
    color:#f4eed7;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    margin-top: -10px;
}

#photo {
    height: 250px;
    width: 250px;
    border-radius: 200px;
    position: absolute;
    left: 77%;
    top: -5%;
}

span {
    font-family: "arial";
}

/* titre section en vertical */

.h1vertical {
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: absolute;
    font-family: "Raleway";
    letter-spacing: -14px;
    left:5%;
    color: #bdb5b5;
    font-size: 40px;
    text-shadow: 2px 2px black;
}

/* compétences */

#fondcompétences {
    transform: skewY(-4deg);
    background-color: rgb(100, 100, 100);
    height: 400px;
}

#compétences {
    width: 70%;
    margin: -30px auto;
}

#h1compétences {
    margin-top: 12px;
}

.h2compétences {
    padding-top: 30px;
    color: #f4eed7;
    font-size: 35px;
    font-family: "Arial";
}

#compétences>div {
    margin-top: -15px;
}

#compétences>div>p {
    color:#bdb5b5;
    font-family: "Arial";
    font-size: 20px;
}

aside>div {
    width: 25px;
    height: 25px;
    background-color: firebrick;
    margin: 0 5px 0 10px;
    display: inline-block;
}

aside {
    position: absolute;
    right:25%;
    margin-top: -50px;
}

.carréblanc {
    background-color: #f4eed7;
}

/* formation */

#fondformations {
    transform: skewY(-4deg);
    background-color: rgb(88, 88, 88);
    margin-top: -30px;
    margin-bottom: 30px;
   
}

#formations {
    width: 70%;
    margin:0 400px;
}

#h1formations {
    left: 12%;
    margin-top: 80px;
}

.h2formations {
    color: #f4eed7;
    font-family: "arial";
    font-size: 35px;
    margin-bottom: 35px;
}

#formations>p {
    color:#bdb5b5;
    margin: -35px 0 -15px 0;
    font-family: "arial";
    font-size: 20px;
}

/* expériences */

#fondexpériences {
    transform: skewY(-4deg);
    background-color: rgb(82, 82, 82);
    margin-top: -30px;
}

#expériences {
    width: 70%;
    margin:auto;
}

#h1expériences {
    margin-top: 60px;
}

.h2expériences {
    color: #f4eed7;
    font-size: 30px;
    font-family: "Arial";
    font-size: 35px;
}

.h3expériences {
    color: #f4eed7;
    font-size: 22px;
    margin-top: -35px;
    font-family: "Arial";
   
}

#expériences p {
    color: #bdb5b5;
    margin-top: -20px;
    margin-bottom: -20px;
    font-family: "Arial";
    font-size: 20px;
}

#expériences>p:last-child {
    margin-bottom: 0;
}

#expériences>p>br {
    line-height: 2px;
}

/* infos complémentaires */

#fondinfos {
    transform: skewY(-4deg);
    background-color: rgb(75, 75, 75);
    height: 350px;
}

#infos {
    width:90%;
    margin: auto;
}

#h1infos {
    text-align: center;
    font-family: "Raleway";
    color: #bdb5b5;
    font-size: 40px;
    text-shadow: 2px 2px black;
    margin-top:10px;
}

#infos>div {
    display: flex;
    justify-content: space-between;
    margin:auto;
}

#infos>div>div {
    width:25%;
    margin-top:-40px;
}

.h3infos {
    text-align: center;
    color: #f4eed7;
    font-family: "Arial";
    font-size: 22px;
}

#infos>div>div>p {
    color: #bdb5b5;
    font-size: 20px;
}

#langues>div {
    display: flex;
}

#barreanglais1 {
    height:20px;
    width:55%;
    background-color: firebrick;
}

#barreanglais2 {
    height:20px;
    width:20%;
    background-color: #f4eed7;
}

#barreespagnol1 {
    height:20px;
    width:40%;
    background-color: firebrick;
}

#barreespagnol2 {
    height:20px;
    width:35%;
    background-color: #f4eed7;
}

#atouts>div {
    display: flex;
}

#barreorganisé1 {
    height:20px;
    width:65%;
    background-color: firebrick;
}

#barreorganisé2 {
    height:20px;
    width:10%;
    background-color: #f4eed7;
}

#barrecapacité1 {
    height:20px;
    width:65%;
    background-color: firebrick;
}

#barrecapacité2 {
    height:20px;
    width:10%;
    background-color: #f4eed7;
}

#réseaux {
    width:80%;
    margin: auto;
}

#réseaux>div {
    text-align: center;
    margin-top: 40px;
}

#réseaux>div>img {
    height:110px;
    width: 110px;
    margin: 10px 10px -10px 10px;
}

#réseaux>p {
    color: #bdb5b5;
    font-size: 20px;
    text-align: center;
}

#voyages {
    margin-right:60px;
}

#fondinfos p{
font-family: "arial";
}